<% if events[:count] > 3 %>

    <%= stylesheet_link_tag 'modules/EventsSnippet' %>

    <!-- TODO: Remove this messy each -->
    <% i = 0 %>

    <div class="EventsSnippet Grid-cell u-size4of12">
      <div class="EventsSnippet-content">
        <div class="EventsSnippet-scroll">
          <ul class="EventsSnippet-lineGroup">
            <% events[:snippet].each do |event| %>
                <% i += 1 %>
                <% distance = current_user.distance_until(event, :minutes) %>

                <li class="EventsSnippet-line js-EventNewsfeedTransitions" data-place="<%= event.try(:place).try(:name) %>" data-address="<%= event.full_address %>" data-latitude="<%= event.latitude.blank? ? event.place.latitude : event.latitude %>" data-longitude="<%= event.longitude.blank? ? event.place.longitude : event.longitude %>" data-bus="<%= distance[:bus] %>min." data-car="<%= distance[:car] %>min." data-walk="<%= distance[:walk] %>" data-bike="<%= distance[:bike] %>min." data-letter="<%= event.id %>">
                  <%= link_to event_path(event), data: { push: true } do %>
                      <div class="EventsSnippet-image b-lazy" data-src="<%= event.image.url(:thumb) %>"></div>
                  <% end %>
                  <div class="EventsSnippet-linePrincipal u-sizeFull">
                <span class="EventsSnippet-eventName">
                  <%= link_to event.name, event_path(event) %>
                </span>
                  </div>
                  <div class="EventsSnippet-lineSecond">
                <span class="EventsSnippet-eventDay EventsSnippet-lineSecondItem">
                  <%= event.day_of_week %>
                </span>
                <span class="EventsSnippet-eventHour EventsSnippet-lineSecondItem">
                  <%= event.start_hour %>
                </span>
                <span class="EventsSnippet-eventPrice EventsSnippet-lineSecondItem <%= event.price[:css_attributes] %>">
                    <%= event.price[:value] %>
                </span>
                    <% if event.rates_media %>
                <span class="EventsSnippet-eventRating EventsSnippet-lineSecondItem">
                  <span class="Event-infosRatingStar glyphicon glyphicon-star"></span>
                  <%= event.rates_media %>
                </span>
                    <% end %>
                  </div>
                </li>
            <% end %>
          </ul>

        </div>
        <div class="EventsSnippet-seeAllEvents">
          <%= link_to "ver todos os #{events[:count]} eventos", events[:link] %>
        </div>
      </div>
    </div>

<% else %>
    <%= render 'alert_create_item' %>
<% end %>