<section class="Section" data-anchor="today">

  <div class="Section-header">
    <h1 class="Section-title">Acontecendo hoje em <%= @city.name %></h1>
    <span class="Section-description"></span>
  </div>

  <div class="Grid Grid--withGutter">

    <%= render 'alert_none_events' %>

    <% if current_or_guest_user.guest? %>
        <%= render 'events_for_guest', events: @events[:all] %>
    <% else %>
        <%= render 'event', events: @events[:today][:preview] %>
    <% end %>

    <% if @events[:today][:count] > 3 %>
        <%= render 'alert_see_more_items', events: @events[:today] %>
    <% else %>
        <%= render 'alert_create_item' %>
    <% end %>

  </div>
</section>