

<!-- HEAD -->

<%= stylesheet_link_tag 'suit-components-grid/index.css', 'suit-utils-size/index.css', 'suit-utils-position/index.css', 'modules/Event' %>

<!-- MAIN -->

<!-- <sidebar-left-fixed></sidebar-left-fixed> -->

<div class="u-lg-size2of12 u-md-size2of12 u-sm-size2of12 u-floatLeft">
  <sidebar-left></sidebar-left>
</div>

<div class="u-lg-size7of12 u-md-size9of12 u-sm-size9of12 u-floatLeft">
  <div id="main-content" class="Main ps-container">
    <newsfeed></newsfeed>
  </div>
</div>


<!-- SIDEBAR -->

<div class="u-lg-size3of12 u-md-size3of12 u-sm-size4of12 u-floatRight">
  <sidebar-map></sidebar-map>
</div>




<!-- JS/CSS SECONDARIES -->


<%= stylesheet_link_tag params[:controller] %>

<%= include_gon %>

<%= javascript_load_content [params[:controller]] %>


<%= javascript_include_tag 'components/newsfeed-build.js' %>

<% content_for :mount_riot_components do %>
    <script type="text/javascript">
      $(document).on('ready page:done onpopstate', function(){
//        riot.mount('sidebar-left',
//            {
//              "today":<%= raw @section_items_json['today']['count'].to_json %>,
//              "persona":<%= raw @section_items_json['persona']['count'].to_json %>,
//              "activities_today":<%= raw @section_activities_json['today']['count'].to_json %>,
//              "neighborhood":<%= raw @section_items_json['neighborhood']['count'].to_json %>,
//              "fun":<%= raw @section_items_json['fun']['count'].to_json %>,
//              "education":<%= raw @section_items_json['education']['count'].to_json %>,
//              "health":<%= raw @section_items_json['health']['count'].to_json %>,
//              "current_user": {
//                "username":"<%= current_or_guest_user.username %>",
//                "is_guest": <%= raw @section_items_json['policies']['is_guest_user'].to_json %>,
//                "agenda_items": <%= current_or_guest_user.agenda_items.upcoming.count %>
//              }
//            }
//        );
        // riot.mount('#today', {
        //   data: <%= raw @section_items_json['today'].to_json %>,
        //   policies: <%= raw @section_items_json['policies'].to_json %>
        // });
        // riot.mount('#persona', {
        //   data: <%= raw @section_items_json['persona'].to_json %>,
        //   policies: <%= raw @section_items_json['policies'].to_json %>
        // });
        // riot.mount('#activities-today', {
        //   data: <%= raw @section_activities_json['today'].to_json %>,
        //   policies: <%= raw @section_activities_json['policies'].to_json %>
        // });
        // riot.mount('#neighborhood', {
        //   data: <%= raw @section_items_json['neighborhood'].to_json %>,
        //   policies: <%= raw @section_items_json['policies'].to_json %>
        // });
        // riot.mount('#fun', {
        //   data: <%= raw @section_items_json['fun'].to_json %>,
        //   policies: <%= raw @section_items_json['policies'].to_json %>
        // });
        // riot.mount('#education', {
        //   data: <%= raw @section_items_json['education'].to_json %>,
        //   policies: <%= raw @section_items_json['policies'].to_json %>
        // });
        // riot.mount('#health', {
        //   data: <%= raw @section_items_json['health'].to_json %>,
        //   policies: <%= raw @section_items_json['policies'].to_json %>
        // });
        // riot.mount('sidebar-left-fixed',
        //     {
        //       "today":<%= raw @section_items_json['today']['count'].to_json %>,
        //       "persona":<%= raw @section_items_json['persona']['count'].to_json %>,
        //       "activities_today":<%= raw @section_activities_json['today']['count'].to_json %>,
        //       "neighborhood":<%= raw @section_items_json['neighborhood']['count'].to_json %>,
        //       "fun":<%= raw @section_items_json['fun']['count'].to_json %>,
        //       "education":<%= raw @section_items_json['education']['count'].to_json %>,
        //       "health":<%= raw @section_items_json['health']['count'].to_json %>,
        //       "current_user": {
        //         "username":"<%= current_or_guest_user.username %>",
        //         "is_guest":<%= raw @section_items_json['policies']['is_guest_user'].to_json %>,
        //         "agenda_items":<%= current_or_guest_user.agenda_items.upcoming.count %>
        //       }
        //     }
        // );
        // riot.mount('sidebar-map', {
        //   "current_user": {
        //     "username":"<%= current_or_guest_user.username %>",
        //     "is_guest":<%= raw @section_items_json['policies']['is_guest_user'].to_json %>,
        //     "agenda_items":<%= current_or_guest_user.agenda_items.upcoming.count %>
        //   }
        // });
      })
    </script>
<% end %>
