

    <!-- HEAD -->

    <%= stylesheet_link_tag 'suit-components-grid/index.css', 'suit-utils-size/index.css', 'suit-utils-position/index.css', 'modules/Event' %>

    <!-- MAIN -->

    <%= render 'layouts/sidebar_left' %>

    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
      <div class="row">
        <div class="col-lg-12">

          <div id="main-content" class="Main ps-container">

            <items id="today"></items>
            <items id="ativities-today"></items>
            <items id="persona"></items>
            <items id="neighborhood"></items>
            <items id="fun"></items>
            <items id="education"></items>
            <items id="health"></items>
          </div>
        </div>

      </div>
    </div>


    <!-- SIDEBAR -->

    <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs u-margin-95-0">
      <%= render 'sidebar' %>
    </div>




<!-- JS/CSS SECONDARIES -->


    <%= stylesheet_link_tag 'modules/AlertCreateEvent', 'modules/AvatarPhoto', 'modules/EventsSnippet', params[:controller] %>

    <%= include_gon %>

    <%= javascript_load_dependencies(['riot/riot.min', 'components/items.js', 'components/item.js'], sync: false) %>

    <% content_for :mount_riot_components do %>
        <script type="text/javascript">
          $(document).on('ready page:done', function(){
              riot.mount('#today', {
                  data: <%= raw @items_json['today'].to_json %>,
                  policies: <%= raw @items_json['policies'].to_json %>
              });
              riot.mount('#persona', {
                  data: <%= raw @items_json['persona'].to_json %>,
                  policies: <%= raw @items_json['policies'].to_json %>
              });
              riot.mount('#ativities-today', {
                  data: <%= raw @activities_json['today'].to_json %>,
                  policies: <%= raw @activities_json['policies'].to_json %>
              });
              riot.mount('#neighborhood', {
                  data: <%= raw @items_json['neighborhood'].to_json %>,
                  policies: <%= raw @items_json['policies'].to_json %>
              });
              riot.mount('#fun', {
                  data: <%= raw @items_json['fun'].to_json %>,
                  policies: <%= raw @items_json['policies'].to_json %>
              });
              riot.mount('#education', {
                  data: <%= raw @items_json['education'].to_json %>,
                  policies: <%= raw @items_json['policies'].to_json %>
              });
              riot.mount('#health', {
                  data: <%= raw @items_json['health'].to_json %>,
                  policies: <%= raw @items_json['policies'].to_json %>
              })
          })
        </script>
    <% end %>

    <%= javascript_load_dependencies(['gmap3', 'gmaps-builder-user', 'bLazy/blazy'], sync: false) %>
    <%= javascript_load_content [params[:controller]], sync: false %>