

<!-- HEAD -->

<%= stylesheet_link_tag 'suit-components-grid/index.css', 'suit-utils-size/index.css', 'suit-utils-position/index.css', 'modules/Event' %>


<!-- MAIN -->

<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
  <div class="row">
    <div class="col-lg-12">
      <div id="main-content" class="Main ps-container">
        <items-section resource="<%= @resource %>"
                       city="<%= @city %>"
                       params="<%= @params %>"
                       :api="<%= @api %>"
                       :data="<%= @data %>"></items-section>
      </div>
    </div>
  </div>
</div>


<!-- SIDEBAR -->

<div class="col-lg-3 col-md-3 col-sm-4 hidden-xs u-margin-95-0">
  <sidebar-map city="<%= params[:city] %>"></sidebar-map>
</div>




<!-- JS/CSS SECONDARIES -->

<%= stylesheet_link_tag params[:controller] %>

<%= include_gon %>

<%= javascript_load_content 'components/newsfeed-build.js' %>
<%= javascript_load_dependencies([params[:controller]]) %>