<div class="panel-heading">
  <div class="panel-title">
    <h2>Esqueceu sua senha?</h2>
  </div>
</div>

<div class="panel-body">


  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}, defaults: {input_html: {class: 'form-control'}, wrapper_html: {class: 'form-group'}}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, :required => true, :autofocus => true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, 'Recuperar minha senha', class: 'Button Button--primary Button--large pull-right' %>
      </div>
  <% end %>
</div>

<div class="panel-footer">
  <%= render "devise/shared/links" %>
</div>