<div class="panel-heading">
  <h3>Transporte</h3>
</div>

<ul class="TransportBox-infoGroup">
  <% if user_signed_in? %>
    <li class="TransportBox-infoList" title="Indo caminhando"><span class="data"><%= "#{@distance[:walk]}" %></span> caminhando</li>
    <li class="TransportBox-infoList" title="Indo de bicicleta"><span class="data"><%= "#{@distance[:bike]}min." %></span> pedalando</li>
    <li class="TransportBox-infoList" title="Indo de ônibus"><span class="data"><%= "#{@distance[:bus]}min." %></span> de ônibus</li>
    <li class="TransportBox-infoList" title="Indo de carro"><span class="data"><%= "#{@distance[:car]}min." %></span> dirigindo</li>
  <% else %>
    <li class="TransportBox-infoList"><%= t('event_show.user_not_logged.transport') %></li>
  <% end %>
</ul>
