
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) + " — Villeme" : "Villeme" %></title>

<!-- Open Graph para Facebook -->
<%= render 'layouts/share_rules' %>

<%= csrf_meta_tags %>

<%= stylesheet_link_tag 'application', :media => 'all' %>

<!-- Used for tests with Riotjs in Poltergeist -->
<%= javascript_include_tag 'es5/es5-shim', if: Rails.env.test? or Rails.env.development? %>

<!-- Favicon -->
<link rel="icon" type="image/png" href="/images/favicon.png" />


<!-- Fix the pushState from facebook login -->
<script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        if (window.history && history.pushState) {
            window.history.pushState("", document.title, window.location.pathname);
        } else {
            // Prevent scrolling by storing the page's current scroll offset
            var scroll = {
                top: document.body.scrollTop,
                left: document.body.scrollLeft
            };
            window.location.hash = '';
            // Restore the scroll offset, should be flicker free
            document.body.scrollTop = scroll.top;
            document.body.scrollLeft = scroll.left;
        }
    }
</script>

<%= render 'analitycs' %>