
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) + " — Villeme" : "Villeme" %></title>

<!-- Open Graph para Facebook -->
<%= render 'layouts/share_rules' %>

<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'application', :media => 'all' %>

<!-- Used for tests with Riotjs in Poltergeist -->
<%= javascript_include_tag 'es5/es5-shim', if: Rails.env.test? or Rails.env.development? %>

<!-- Favicon -->
<link rel="icon" type="image/png" href="/images/favicon.png" />

