<div class="modal js-ModalLogin fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="Modal Modal--centralized">

      <div class="modal-header">
        <span type="button" class="Modal-closeButton" data-dismiss="modal" aria-hidden="true">&times;</span>
        <h4 class="modal-title u-centralize">
          <b>Entrar ou solicitar convite</b>
        </h4>
      </div>

      <div class="Modal-body">
        <div class="Modal-alert js-Modal-alert u-centralize">
          <span class="glyphicon glyphicon-info-sign"></span>
          <span class="js-ModalLogin-alert"></span>
        </div>

        <%= link_to sign_in_path do %>
          <button type="button" class="Button Button--primary Button--large Button--sizeFull u-centralize u-margin-0-0-15-0 has-tooltip" title="<%= t('welcome.tooltip.have_an_invitation') %>" data-placement="left">
            <%= t('welcome.login_modal.email_button') %>
          </button>
        <% end %>

        <%= link_to omniauth_authorize_path(:user, :facebook), class: "has-tooltip", title: t('welcome.tooltip.have_an_invitation'), 'data-placement' => 'left' do %>
          <button class="Button Button--facebook Button--large Button--sizeFull u-centralize">
            <%= t('welcome.login_modal.facebook_button') %>
          </button>
        <% end %>

        <span class="block">ou</span>

        <button onclick="Villeme.Ux.loginModal(null, Villeme.Ux.openRequestInviteModal)" class="Button Button--large Button--sizeFull u-centralize u-margin-0-0-15-0">
          <%= t('welcome.first_screen.request_invite') %>
        </button>

      </div>

    </div>
  </div>
</div>
